:host .header {
  margin: 50px;
}
:host h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: bold;
}
.board {
  border: 1px solid black;
  height: 480px;
  width: 480px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.tile {
  width: 100px;
  height: 100px;
  background: #efefef;
  margin: 10px;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}
.tile span {
  line-height: 100px;
  width: 100px;
  height: 100px;
  display: block;
}
.new {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
.two {
  font-size: 72px;
  background: #fde725;
}
.four {
  font-size: 72px;
  background: #fde725;
}
.eight {
  font-size: 72px;
  background: #bddf26;
}
.sixteen {
  font-size: 72px;
  background: #bddf26;
}
.thirtytwo {
  font-size: 72px;
  background: #7ad151;
}
.sixtyfour {
  font-size: 72px;
  background: #7ad151;
}
.onetwentyeight {
  font-size: 52px;
  
  background: #44bf70;
}
.twofiftysix {
  font-size: 52px;
  background: #44bf70;
}
.fivetwelve {
  font-size: 52px;
  background: #22a884;
}
.tentwentyfour {
  font-size: 38px;
  background: #22a884;
}
.twentyfortyeight {
  font-size: 38px;
  background: #22a884;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}