:host {
}
:host h1 {
  margin: 50px;
  font-size: 48px;
  font-weight: bold;
}
.board {
  border: 1px solid black;
  height: 490px;
  width: 490px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.cell {
  width: 100px;
  height: 100px;
  background: #efefef;
  margin: 10px;
  text-align: center;
  font-size: 72px;
  line-height: 100px;
  font-weight: bold;
}